<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" id="footer" class="darkgrey_section">
    <div class="container">
        <div class="row">
            <div class="block widget_text col-md-3 col-sm-4 to_animate" data-animation="fadeInRight">
                <h3>Contact Info</h3>
                <p>
                    <i class="rt-icon-location"></i> 4321 Your Address, Country<br>
                    <i class="rt-icon-megaphone"></i> +12 345 678 9123<br>
                    <i class="rt-icon-mail2"></i><a href="mailto:info@company.com">info@thebest.com</a><br>
                    <i class="rt-icon-world"></i><a href="/">www.thebest.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>