<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" id="footer" class="darkgrey_section">
    <div class="container">
        <div class="row">


            <div class="block widget_tweet col-md-3 col-sm-4 to_animate" data-animation="fadeInRight">
                <h3>Flickr Widget</h3>
                <ul id="flickr"></ul>
            </div>

            <div class="block widget_text col-md-3 col-sm-4 to_animate" data-animation="fadeInRight">
                <h3>Text Widget</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora vitae itaque rem illo quidem animi!</p>
                <p>Reiciendis nemo hic, quae asperiores aliquid eius, pariatur provident quos fugit veniam recusandae excepturi, animi..</p>
            </div>

            <div class="block widget_text col-md-3 col-sm-4 to_animate" data-animation="fadeInRight">
                <h3>Contact Info</h3>
                <p>
                    <i class="rt-icon-location"></i> 4321 Your Address, Country<br>
                    <i class="rt-icon-megaphone"></i> +12 345 678 9123<br>
                    <i class="rt-icon-mail2"></i><a href="mailto:info@company.com">info@thebest.com</a><br>
                    <i class="rt-icon-world"></i><a href="./">www.thebest.com</a>
                </p>

            </div>

            <div class="block subscribe col-md-3 col-sm-4 to_animate" data-animation="fadeInRight">
                <h3>Newsletter</h3>
                <p>Please, subscribe to our latest news to be updated.</p>
                <form id="signup" action="/" method="get" class="form-inline">
                    <div class="form-group">
                        <input name="email" id="mailchimp_email" type="email" class="form-control" placeholder="Email">
                    </div>
                    <button type="submit" class="theme_btn">GO!</button>
                    <div id="response"></div>
                </form>
            </div>

        </div>
    </div>
</footer>
</body>
</html>