<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="utf-8">

    <title>TheBest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

    <style>
        .table th{
            color: black!important;
        }
        .grey_section a, [class*="_section"] .grey_section a {
             color: white!important;
        }
        .btn-secondary {
            background: brown!important;
        }
        select{
            min-height: 40px!important;
        }

    </style>

</head>
<body>

</body>
</html>