<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" id="header" class="dark_section">
    <div class="container"><div class="row">

        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-signal"></span>
            The<strong>BEST</strong>
        </a>

        <div class="col-sm-12 mainmenu_wrap"><div class="main-menu-icon visible-xs"><span></span><span></span><span></span></div>

            <nav>
                <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                    <li class="">
                        <a href="/">Home</a>
                    </li>
                    <li class="">
                        <a href="/404">404</a>
                    </li>
                    <li class="">
                        <a href="/team">Team</a>
                    </li>
                    <li class="">
                        <a href="/team-single">Member</a>
                    </li>
                    <li class="">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div></div>
</header>
</body>
</html>