<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
    <body>
        <header th:replace="~{/commons/header :: header}"></header>

    <section id="abovecontent" class="color_section">
        <div class="container"><div class="row">
            <div class="block col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="./" class="pathway"><i class="rt-icon-home"></i></a></li>
                    <li><span>404</span></li>
                </ul>
            </div>
        </div></div>
    </section>



    <section id="middle" class="light_section">
        <div class="container"><div class="row">
            <div class="col-sm-12 text-center">
                <p class="not_found">404</p>
                <h1>Ups, Page Not Found</h1>
                <h5 class="grey">We're sorry, but the page<br>you were looking for doesn't exist.</h5>
            </div>
        </div></div>
    </section>


    <section id="partners" class="color_section bg_image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel partners">

                        <div class="item">
                            <img alt="" src="example/partner1.png">
                        </div>
                        <div class="item">
                            <img alt="" src="example/partner2.png">
                        </div>
                        <div class="item">
                            <img alt="" src="example/partner3.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner4.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner5.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner6.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner1.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner2.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner3.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner4.png">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer th:replace="~{/commons/footer :: footer}"></footer>
 

<section th:replace="~{/commons/copyright :: copyright}"></section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <div th:replace="~{/commons/script :: script}"></div>


    </body>
</html>
