<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head th:replace="~{/commons/head :: head}"></head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header th:replace="~{/commons/header :: header}"></header>


    <section id="abovecontent" class="color_section">
        <div class="container"><div class="row">
            <div class="block col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="./" class="pathway"><i class="rt-icon-home"></i></a></li>
                    <li><span>Contact</span></li>
                </ul>
            </div>
        </div></div>
    </section>


    <section id="middle" class="light_section">
        <div class="container">
            <div class="row">
                <div class="block col-sm-6 to_animate">
                    <h3>Contact <strong>Form</strong></h3>
                    <form class="contact-form" method="post" action="/">
                        <p class="contact-form-name">
                            <label for="name">Name <span class="required">*</span></label>
                            <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Name">
                        </p>
                        <p class="contact-form-email">
                            <label for="email">Email <span class="required">*</span></label>
                            <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email">
                        </p>
                        <p class="contact-form-subject">
                            <label for="subject">Subject <span class="required">*</span></label>
                            <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
                        </p>
                        <p class="contact-form-message">
                            <label for="message">Message</label>
                            <textarea aria-required="true" rows="8" cols="45" name="message" id="message" class="form-control" placeholder="Message"></textarea>
                        </p>
                        <p class="contact-form-submit vertical-margin-40">
                            <input type="submit" value="Send" id="contact_form_submit" name="contact_submit" class="theme_btn">
                        </p>
                    </form>
                </div>
                <div class="block col-sm-6 to_animate">
                    <h3>Contact <strong>Info</strong></h3>
                    <div class="widget_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quos, provident, quo culpa sapiente numquam eum voluptatem neque ipsum suscipit eaque reprehenderit consequatur illo aperiam hic aliquam maxime laboriosam eos?</p>
                        <p>
                            <i class="rt-icon-location"></i><strong>Adderss:</strong> 4321 Your Address, Country<br> 
                            <i class="rt-icon-megaphone"></i><strong>Phone:</strong> +12 345 678 9123<br>
                            <i class="rt-icon-mail2"></i><strong>Email: </strong><a href="mailto:info@thebest.com">info@thebest.com</a><br> 
                            <i class="rt-icon-world"></i><strong>Website: </strong><a href="./">www.thebest.com</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="map" class="light_section"></section>

    <section id="partners" class="color_section bg_image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel partners">

                        <div class="item">
                            <img alt="" src="example/partner1.png">
                        </div>
                        <div class="item">
                            <img alt="" src="example/partner2.png">
                        </div>
                        <div class="item">
                            <img alt="" src="example/partner3.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner4.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner5.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner6.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner1.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner2.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner3.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner4.png">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer th:replace="~{/commons/footer :: footer}"></footer>
 

<section th:replace="~{/commons/copyright :: copyright}"></section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <div th:replace="~{/commons/script :: script}"></div>




        <!-- Map Scripts -->

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            var lat;
            var lng;
            var map;

            //type your address after "address="
            jQuery.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=london, baker street, 221b&sensor=false', function(data) {
                lat = data.results[0].geometry.location.lat;
                lng = data.results[0].geometry.location.lng;
            }).complete(function(){
                dxmapLoadMap();
            });

            function attachSecretMessage(marker, message)
            {
                var infowindow = new google.maps.InfoWindow(
                    { content: message
                    });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                });
            }

            window.dxmapLoadMap = function()
            {
                var center = new google.maps.LatLng(lat, lng);
                var settings = {
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoom: 16,
                    draggable: false,
                    scrollwheel: false,
                    center: center
                };
                map = new google.maps.Map(document.getElementById('map'), settings);

                var marker = new google.maps.Marker({
                    position: center,
                    title: 'Map title',
                    map: map
                });
                marker.setTitle('Map title'.toString());
            //type your map title and description here
            attachSecretMessage(marker, '<h3>Map title</h3>Map HTML description');
            }
        </script>

    </body>
</html>