<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Edit employee')}"></div>
<section id="middle" class="light_section">
    <div class="container">
        <div class="row">
            <div class="block col-sm-12 to_animate">
                <h1>Edit <strong>Employee</strong></h1>
                <h3 th:if="${message != null}" th:text="${message}"></h3>
                <form class="contact-form" th:action="@{/employee}" th:object="${entity}" method="post">
                    <p class="contact-form-name">
                        <label for="firstName">First Name</label>
                        <input type="text" aria-required="true" th:field="*{firstName}" id="firstName"
                               class="form-control" placeholder="">
                    </p>
                    <p class="contact-form-name">
                        <label for="lastName">Last Name</label>
                        <input type="text" aria-required="true" th:field="*{lastName}" id="lastName"
                               class="form-control" placeholder="">
                    </p>
                    <p class="contact-form-name">
                        <label for="middleName">Middle Name</label>
                        <input type="text" aria-required="true" th:field="*{middleName}" id="middleName"
                               class="form-control" placeholder="">
                    </p>
                    <p class="contact-form-name">
                        <label for="birthDate">Birth Date</label>
                        <input type="date" aria-required="true" th:field="*{birthDate}" id="birthDate"
                               class="form-control">
                    </p>
                    <p class="contact-form-name">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="tel" aria-required="true" th:field="*{phoneNumber}" id="phoneNumber"
                               class="form-control" placeholder="">
                    </p>
                    <p class="contact-form-email">
                        <label for="email">Email</label>
                        <input type="email" aria-required="true" th:field="*{email}" id="email"
                               class="form-control" placeholder="Email">
                    </p>
                    <p class="contact-form-name">
                        <label for="image">Image</label>
                        <input type="text" aria-required="true" th:field="*{image}" id="image"
                               class="form-control" placeholder="">
                    </p>
                    <p class="contact-form-name">
                        <label>Position</label>
                        <select th:field="*{position}" class="form-control" style="min-height: 100px">
                            <option value="" text=""></option>
                            <option th:each="item : ${positions}" th:value="${item.id}" th:text="${item}"></option>
                        </select>
                    </p>
                    <p class="contact-form-name">
                        <label>Role</label>
                        <select th:field="*{role}" class="form-control" style="min-height: 100px">
                            <option value="" text=""></option>
                            <option th:each="item : ${roles}" th:value="${item.id}" th:text="${item}"></option>
                        </select>
                    </p>
                    <p class="contact-form-name">
                        <label>Department</label>
                        <select th:field="*{department}" class="form-control" style="min-height: 100px">
                            <option value="" text=""></option>
                            <option th:each="item : ${departments}" th:value="${item.id}" th:text="${item}"></option>
                        </select>
                    </p>
                    <p class="contact-form-submit vertical-margin-40">
                        <input type="text" class="form-control hidden" th:field="*{id}" id="id">
                        <input type="submit" value="Save" id="contact_form_submit" name="contact_submit"
                           class="theme_btn">
                        <a class="btn btn-secondary" th:href="@{/employee}">Cancel</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>





<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
