<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Employee')}"></div>

<section id="middle" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>List of <strong>Employees</strong></h1>
                <h3 th:if="${message != null}" th:text="${message}"></h3>
                <a class="btn btn-primary" th:href="@{/employee/edit}">Create new Employee</a>

                <table class="table ">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Middle Name</th>
                        <th>Birth Date</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entity : ${list}">
                        <td th:text=${entity.firstName}></td>
                        <td th:text=${entity.lastName}></td>
                        <td th:text=${entity.middleName}></td>
                        <td th:text=${entity.birthDate}></td>
                        <td th:text=${entity.phoneNumber}></td>
                        <td th:text=${entity.email}></td>
                        <td th:text=${entity.position}></td>
                        <td th:text=${entity.department}></td>
                        <td>
                            <a class="btn btn-info" th:href="@{/employee/{id}(id=${entity.id})}">See detail</a>
                            <a class="btn btn-primary" th:href="@{/employee/edit/{id}(id=${entity.id})}">Edit</a>
                            <form th:if="${entity.id!=null}" method="get" th:action="'/employee/' +${entity.id}+'/delete'">
                                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
