<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Employee detail')}"></div>

<section id="middle" class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><strong>Employee</strong> Details</h1>
                <h3 th:if="${message!=null}" th:text="${message}"></h3>
                <table class="table table-bordered">
                    <tr>
                        <th>firstName:</th>
                        <td th:text="${entity.firstName}"></td>
                    </tr>
                    <tr>
                        <th>lastName:</th>
                        <td th:text="${entity.lastName}"></td>
                    </tr>
                    <tr>
                        <th>middleName:</th>
                        <td th:text="${entity.middleName}"></td>
                    </tr>
                    <tr>
                        <th>birthDate:</th>
                        <td th:text="${entity.birthDate}"></td>
                    </tr>
                    <tr>
                        <th>phoneNumber:</th>
                        <td th:text="${entity.phoneNumber}"></td>
                    </tr>
                    <tr>
                        <th>email:</th>
                        <td th:text="${entity.email}"></td>
                    </tr>
                    <tr>
                        <th>position:</th>
                        <td th:text="${entity.position}"></td>
                    </tr>
                    <tr>
                        <th>department:</th>
                        <td th:text="${entity.department}"></td>
                    </tr>
                    <tr>
                        <th>vacations:</th>
                        <td>
                            <ul>
                                <li th:each="vacations_item : ${entity.vacations}" th:text="${vacations_item}"></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>sickLeaves:</th>
                        <td>
                            <ul>
                                <li th:each="sickLeaves_item : ${entity.sickLeaves}" th:text="${sickLeaves_item}"></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>trainings:</th>
                        <td>
                            <ul>
                                <li th:each="trainings_item : ${entity.trainings}" th:text="${trainings_item}"></li>
                            </ul>
                        </td>
                    </tr>
                </table>

                <div class="mt-4">
                    <a class="btn btn-secondary" th:href="@{/employee}">Back to the List</a>
                    <a class="btn btn-primary" th:href="@{/employee/edit/{id}(id=${entity.id})}">Edit</a>
                    <form th:if="${entity.id!=null}" method="get"
                          th:action="'/employee/' + ${entity.id} + '/delete'"
                          style="display:inline;">
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
