<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>

<div th:replace="~{/commons/abovecontent :: abovecontent('404')}"></div>

<section id="middle" class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="not_found">404</p>
                <h1>Ups, Page Not Found</h1>
                <h5 class="grey">We're sorry, but the page<br>you were looking for doesn't exist.</h5>
            </div>
        </div>
    </div>
</section>

<section th:replace="~{/commons/partners :: partners}"></section>
<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
