<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head th:replace="~{/commons/head :: head}"></head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header th:replace="~{/commons/header :: header}"></header>


    <section id="abovecontent" class="color_section">
        <div class="container"><div class="row">
            <div class="block col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="./" class="pathway"><i class="rt-icon-home"></i></a></li>
                    <li><span>Gallery</span></li>
                </ul>
            </div>
        </div></div>
    </section>


    
    <section id="middle" class="grey_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Our <strong>Portfolio</strong></h3>
                </div>
            </div>

            <div class="row">
                <ul id="gallery-grid" class="gallery-grid col-sm-12">

                    <li>
                        <a href="#" data-largesrc="example/gallery/01.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="example/gallery/01.jpg" alt="img01"/>
                        </a>
                        <h3>Lorem Ipsum Dolor</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>Project 1 Details</h3>
                                <p class="description">
                                    At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="skills"><span>Skills:</span> Photography, Photoshop, Illustration</p>
                                <p class="client"><span>Client:</span> <a href="#">Simplex</a></p>
                                <p class="location"><span>Location:</span> <a href="#">www.simplex.com</a></p>
                                <p class="view-project"><a href="#" class="theme_btn">View Project</a></p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#" data-largesrc="example/gallery/02.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="example/gallery/02.jpg" alt="img01"/>
                        </a>
                        <h3>Quis aute iure</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>Project 2 Details</h3>
                                <p class="description">
                                    At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="skills"><span>Skills:</span> Photography, Photoshop, Illustration</p>
                                <p class="client"><span>Client:</span> <a href="#">Simplex</a></p>
                                <p class="location"><span>Location:</span> <a href="#">www.simplex.com</a></p>
                                <p class="view-project"><a href="#" class="theme_btn">View Project</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/03.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="example/gallery/03.jpg" alt="img01"/>
                        </a>
                        <h3>Reprehenderit Oluptate</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>Project 3 Details</h3>
                                <p class="description">
                                    At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="skills"><span>Skills:</span> Photography, Photoshop, Illustration</p>
                                <p class="client"><span>Client:</span> <a href="#">Simplex</a></p>
                                <p class="location"><span>Location:</span> <a href="#">www.simplex.com</a></p>
                                <p class="view-project"><a href="#" class="theme_btn">View Project</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/04.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="example/gallery/04.jpg" alt="img01"/>
                        </a>
                        <h3>Velit Esse Cillum</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>Project 4 Details</h3>
                                <p class="description">
                                    At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="skills"><span>Skills:</span> Photography, Photoshop, Illustration</p>
                                <p class="client"><span>Client:</span> <a href="#">Simplex</a></p>
                                <p class="location"><span>Location:</span> <a href="#">www.simplex.com</a></p>
                                <p class="view-project"><a href="#" class="theme_btn">View Project</a></p>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <a href="#" data-largesrc="example/gallery/05.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="example/gallery/05.jpg" alt="img01"/>
                        </a>
                        <h3>Lorem Ipsum Dolor</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>Project 5 Details</h3>
                                <p class="description">
                                    At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="skills"><span>Skills:</span> Photography, Photoshop, Illustration</p>
                                <p class="client"><span>Client:</span> <a href="#">Simplex</a></p>
                                <p class="location"><span>Location:</span> <a href="#">www.simplex.com</a></p>
                                <p class="view-project"><a href="#" class="theme_btn">View Project</a></p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#" data-largesrc="example/gallery/06.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="example/gallery/06.jpg" alt="img01"/>
                        </a>
                        <h3>Quis aute iure</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>Project 6 Details</h3>
                                <p class="description">
                                    At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="skills"><span>Skills:</span> Photography, Photoshop, Illustration</p>
                                <p class="client"><span>Client:</span> <a href="#">Simplex</a></p>
                                <p class="location"><span>Location:</span> <a href="#">www.simplex.com</a></p>
                                <p class="view-project"><a href="#" class="theme_btn">View Project</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/07.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="example/gallery/07.jpg" alt="img01"/>
                        </a>
                        <h3>Reprehenderit Oluptate</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>Project 7 Details</h3>
                                <p class="description">
                                    At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="skills"><span>Skills:</span> Photography, Photoshop, Illustration</p>
                                <p class="client"><span>Client:</span> <a href="#">Simplex</a></p>
                                <p class="location"><span>Location:</span> <a href="#">www.simplex.com</a></p>
                                <p class="view-project"><a href="#" class="theme_btn">View Project</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/08.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="example/gallery/08.jpg" alt="img01"/>
                        </a>
                        <h3>Velit Esse Cillum</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>Project 8 Details</h3>
                                <p class="description">
                                    At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                </p>
                                <p class="skills"><span>Skills:</span> Photography, Photoshop, Illustration</p>
                                <p class="client"><span>Client:</span> <a href="#">Simplex</a></p>
                                <p class="location"><span>Location:</span> <a href="#">www.simplex.com</a></p>
                                <p class="view-project"><a href="#" class="theme_btn">View Project</a></p>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="pagination">
                        <li><a href="#"><i class="arrow-icon-left-open-mini"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="arrow-icon-right-open-mini"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <section id="partners" class="color_section bg_image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel partners">

                        <div class="item">
                            <img alt="" src="example/partner1.png">
                        </div>
                        <div class="item">
                            <img alt="" src="example/partner2.png">
                        </div>
                        <div class="item">
                            <img alt="" src="example/partner3.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner4.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner5.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner6.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner1.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner2.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner3.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner4.png">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{/commons/footer :: footer}"></footer>
 

<section th:replace="~{/commons/copyright :: copyright}"></section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <div th:replace="~{/commons/script :: script}"></div>


    </body>
</html>
