<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head th:replace="~{/commons/head :: head}"></head>
    <body class="frontpage">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <section id="land" class="darkgrey_section parallax">
        <div class="container title_section">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="bxslider">
                        <li>
                            <h3>Welcome to</h3>
                            <h2>The<span class="highlight">BEST</span> Bootstrap Template</h2>
                            <p>
                                <a href="#" class="theme_btn">Know More</a>
                            </p>
                        </li>
                        <li>
                            <h3>This Template</h3>
                            <h2>Suits for <span class="highlight">any Needs</span></h2>
                            <p>
                                <a href="#" class="theme_btn">Know More</a>
                            </p>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    </section>


        <header th:replace="~{/commons/header :: header}"></header>



    <section id="preinfo" class="light_section">
        <div class="container">
            <div class="row">
                <h2 class="block-header text-center">All <strong>Power</strong> of Twitter <strong>Bootstrap</strong></h2>

                
                <div class="col-sm-3">
                    <img src="example/bootstrap.jpg" alt="">
                </div>
                <div class="col-sm-9">
                    <h3>Ultra responsive. Working on any devices</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quia rem, explicabo iste. Voluptas, ea, vel. Quam ullam deserunt tenetur dignissimos pariatur. Nobis quia temporibus est neque harum accusantium, eum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, dicta eius voluptatem impedit beatae, nihil nostrum perferendis mollitia laboriosam possimus adipisci fuga molestias porro magni doloremque nisi quasi aliquam esse!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, dicta eius voluptatem impedit beatae, nihil nostrum perferendis mollitia laboriosam possimus adipisci fuga molestias porro magni doloremque nisi quasi aliquam esse!</p>
                </div>
                
            </div>

        </div>
    </section>   

    <section id="info" class="grey_section">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="block-header">We <strong>making</strong> sites</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae cum sequi accusamus magni, eius maiores eat.</p>
                </div>
            </div>
            <div class="row">
                <div class="block col-sm-3 to_animate" data-animation="fadeInLeft" data-delay="250">
                    <div class="single_teaser icons style1">
                        <div class="icons_introimg image-icon">
                            <i class="rt-icon-group-outline"></i>
                        </div>
                        <h3><a href="#">Profi <strong>Team</strong></a></h3>
                        <p class="introtext">Lorem ipsum dolamet consetetur sadipscing elited diam nonumy eirmod tempor invidunt labore.</p>
                        <p class="block-readmore"> 
                            <a class="theme_btn" href="#">Know More</a>
                        </p>
                    </div>
                </div>      
                <div class="block col-sm-3 to_animate" data-animation="fadeInLeft" data-delay="250">
                    <div class="single_teaser icons style1">
                        <div class="icons_introimg image-icon">
                            <i class="rt-icon-device-phone"></i>
                        </div>
                        <h3><a href="#">Any <strong>Device</strong></a></h3>
                        <p class="introtext">Dolore magna, sed diam voluptua stet clita kasd gubergren sea takimata sanctus est.</p>
                        <p class="block-readmore"> 
                            <a class="theme_btn" href="#">Know More</a>
                        </p>
                    </div>
                </div>      
                <div class="block col-sm-3 to_animate" data-animation="fadeInLeft" data-delay="250">
                    <div class="single_teaser icons style1">
                        <div class="icons_introimg image-icon">
                            <i class="rt-icon-phone"></i>
                        </div>
                        <h3><a href="#">Great <strong>Support</strong></a></h3>
                        <p class="introtext">Sanctus sea sed takimata ut vero voluptua lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                        <p class="block-readmore"> 
                            <a class="theme_btn" href="#">Know More</a>
                        </p>
                    </div>
                </div>      
                
                <div class="block col-sm-3 to_animate" data-animation="fadeInLeft" data-delay="250">
                    <div class="single_teaser icons style1">
                        <div class="icons_introimg image-icon">
                            <i class="rt-icon-graduate"></i>
                        </div>
                        <h3><a href="#">Easy to <strong>Edit</strong></a></h3>
                        <p class="introtext">Sanctus sea sed takimata ut vero voluptua lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                        <p class="block-readmore"> 
                            <a class="theme_btn" href="#">Know More</a>
                        </p>
                    </div>
                </div>      

            </div>
        </div>
    </section>


    <section id="tweets" class="color_section bg_image">
        <div class="container">
            <div class="row text-center">
                <div class="twitter"></div>
            </div>
        </div>
    </section>


    <section id="latest_works" class="grey_section">
        <div class="container">
            <div class="row">
                <div class="block col-sm-3">
                    <h3>Latest <strong>Works</strong></h3>
                    <p>
                        Stet clita kasd gubergren, no sela takimata sanctus est lorem ipsum dolor sit amet lorem ipsum dolor amet consetetur sadipscing elitr.
                    </p>
                </div>
                <div class="col-sm-9 to_animate">
                    <div class="owl-carousel owl-items-3 latest-works">
                        <div class="owl-carousel-item portfolio_item_image">
                            <div class="portfolio_links">  
                                <img src="example/gallery/01.jpg" alt="">
                                <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="example/gallery/01.jpg"></a>
                                <a class="p-link" title="" href="./gallery"></a>
                            </div>

                            <h3><a href="gallery">Lorem ipsum dolor</a></h3>

                        </div>

                        <div class="owl-carousel-item portfolio_item_image">
                            <div class="portfolio_links">  
                                <img src="example/gallery/02.jpg" alt="">
                                <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="example/gallery/02.jpg"></a>
                                <a class="p-link" title="" href="./gallery"></a>
                            </div>

                            <h3><a href="gallery">Quis aute iure</a></h3>

                        </div>

                        <div class="owl-carousel-item portfolio_item_image">
                            <div class="portfolio_links">  
                                <img src="example/gallery/03.jpg" alt="">
                                <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="example/gallery/03.jpg"></a>
                                <a class="p-link" title="" href="./gallery"></a>
                            </div>

                            <h3><a href="gallery">Reprehenderit Oluptate</a></h3>

                        </div>


                        <div class="owl-carousel-item portfolio_item_image">
                            <div class="portfolio_links">  
                                <img src="example/gallery/04.jpg" alt="">
                                <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="example/gallery/04.jpg"></a>
                                <a class="p-link" title="" href="./gallery"></a>
                            </div>

                            <h3><a href="gallery">Lorem ipsum dolor</a></h3>

                        </div>

                        <div class="owl-carousel-item portfolio_item_image">
                            <div class="portfolio_links">  
                                <img src="example/gallery/05.jpg" alt="">
                                <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="example/gallery/05.jpg"></a>
                                <a class="p-link" title="" href="./gallery"></a>
                            </div>

                            <h3><a href="gallery">Quis aute iure</a></h3>

                        </div>

                    </div> <!-- eof owl-carousel -->
                </div>
            </div>
        </div>
    </section>




    <section id="partners" class="color_section bg_image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel partners">

                        <div class="item">
                            <img alt="" src="example/partner1.png">
                        </div>
                        <div class="item">
                            <img alt="" src="example/partner2.png">
                        </div>
                        <div class="item">
                            <img alt="" src="example/partner3.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner4.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner5.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner6.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner1.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner2.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner3.png">
                        </div>

                        <div class="item">
                            <img alt="" src="example/partner4.png">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer th:replace="~{/commons/footer :: footer}"></footer>
 

<section th:replace="~{/commons/copyright :: copyright}"></section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <div th:replace="~{/commons/script :: script}"></div>


    </body>
</html>
