<!DOCTYPE html>

<head th:replace="~{/commons/head :: head}"></head>
<body class="frontpage">
<section id="land" class="darkgrey_section parallax">
    <div class="container title_section">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul class="bxslider">
                    <li>
                        <h3>Welcome to</h3>
                        <h2>The<span class="highlight">BEST</span></h2>
                    </li>
                    <li>
                        <h3>This Site</h3>
                        <h2>Suits for <span class="highlight">Accounting Employees</span></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<header th:replace="~{/commons/header :: header}"></header>

<section id="preinfo" class="light_section">
    <div class="container">
        <div class="row">
            <h2 class="block-header text-center">All <strong>Power</strong> of <strong>Application</strong></h2>


            <div class="col-sm-3">
                <img src="example/bootstrap.jpg" alt="">
            </div>
            <div class="col-sm-9">
                <h3>Welcome to the Employee Management Information System.</h3>
                <p>This system was designed to simplify and automate the process of personnel management in
                    organizations of any size. It allows tracking of employees, managing work time, handling leaves and
                    sick days, conducting performance evaluations, managing employee training, as well as controlling
                    structural units and positions within the company.</p>
                <p>The system is developed based on modern technologies and approaches, ensuring high performance,
                    reliability, and data security. The system's interface is designed with user convenience principles
                    in mind, allowing for quick access to necessary information and task execution.</p>
                <p>As a system administrator, you have full access to all functional capabilities of the system,
                    including managing users and their roles, as well as setting system parameters.</p>
                <p>We hope that using this system will help you improve personnel management in your organization and
                    increase its efficiency. If you have any questions or suggestions, please do not hesitate to contact
                    us.</p>
                <p>Thank you for choosing our system!</p>
            </div>
        </div>

    </div>
</section>

<section th:replace="~{/commons/partners :: partners}"></section>
<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
