<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>

<style>
    .table th{
        color: black!important;
    }
</style>

<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Position detail')}"></div>

<section id="middle" class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><strong>Position</strong> Details</h1>
                <h3 th:if="${message!=null}" th:text="${message}"></h3>

                <table class="table table-bordered">
                    <tr>
                        <th>Title:</th>
                        <td th:text="${entity.title}"></td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td th:text="${entity.description}"></td>
                    </tr>
                    <tr>
                        <th>Employees:</th>
                        <td>
                            <ul>
                                <li th:each="employees_item : ${entity.employees}" th:text="${employees_item}"></li>
                            </ul>
                        </td>
                    </tr>
                </table>

                <div class="mt-4">
                    <a class="btn btn-secondary" th:href="@{/position}">Back to the List</a>
                    <a class="btn btn-primary" th:href="@{/position/edit/{id}(id=${entity.id})}">Edit</a>
                    <form th:if="${entity.id!=null}" method="get"
                          th:action="'/position/' + ${entity.id} + '/delete'"
                          style="display:inline;">
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>

