<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Role detail')}"></div>

<section id="middle" class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><strong>Role</strong> Details</h1>
                <h3 th:if="${message!=null}" th:text="${message}"></h3>
                <table class="table table-bordered">
                    <tr>
                        <th>name:</th>
                        <td th:text="${entity.name}"></td>
                    </tr>
                    <tr>
                        <th>description:</th>
                        <td th:text="${entity.description}"></td>
                    </tr>
                </table>

                <div class="mt-4">
                    <a class="btn btn-secondary" th:href="@{/role}">Back to the List</a>
                    <a class="btn btn-primary" th:href="@{/role/edit/{id}(id=${entity.id})}">Edit</a>
                    <form th:if="${entity.id!=null}" method="get"
                          th:action="'/role/' + ${entity.id} + '/delete'"
                          style="display:inline;">
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>






<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
