<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Edit role')}"></div>
<h1>Edit Role</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/role}" th:object="${entity}" method="post">

    <p>
        <label for="name">name:</label>
            <input type="text" th:field="*{name}" id="name" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/role}">Cancel</a>
    </p>
</form>



<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
