<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Edit sick leave')}"></div>

<section id="middle" class="light_section">
    <div class="container">
        <div class="row">
            <div class="block col-sm-12 to_animate">
                <h1>Edit <strong>Sick Leave</strong></h1>
                <h3 th:if="${message != null}" th:text="${message}"></h3>
                <form class="contact-form" th:action="@{/sickleave}" th:object="${entity}" method="post">

                    <p class="contact-form-name">
                        <label for="startDate">Start Date:</label>
                        <input type="date" aria-required="true" th:field="*{startDate}" id="startDate"
                               class="form-control">
                    </p>
                    <p class="contact-form-subject">
                        <label for="duration">Duration:</label>
                        <input type="text" aria-required="true" th:field="*{duration}" id="duration"
                               class="form-control">
                    </p>
                    <p class="contact-form-subject">
                        <label for="employee">Employee:</label>
                        <input type="text" aria-required="true" th:field="*{employee}" id="employee"
                               class="form-control">
                    </p>
                    <p class="contact-form-submit vertical-margin-40">
                        <input type="text" class="form-control hidden" th:field="*{id}" id="id">
                        <input type="submit" value="Save" id="contact_form_submit" name="contact_submit"
                               class="theme_btn">
                        <a class="btn btn-secondary" th:href="@{/sickleave}">Cancel</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>




<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>

