<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head th:replace="~{/commons/head :: head}"></head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <header th:replace="~{/commons/header :: header}"></header>


    <section id="abovecontent" class="color_section">
        <div class="container"><div class="row">
            <div class="block col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="./" class="pathway"><i class="rt-icon-home"></i></a></li>
                    <li><span>Team</span></li>
                </ul>
            </div>
        </div></div>
    </section>




    <section id="middle" class="grey_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Meet <strong>Our Team</strong></h2>
                </div>
            </div>

                <div class="team row">
                    <div class="col-sm-6"> 
                       <div class="media light_section">
                            <a href="#" class="pull-left">
                                <img src="example/team/01.jpg" alt="" class="media-object">
                            </a>

                            <div class="media-body">
                                <h3>Jat <strong>Anderson</strong></h3>
                                <p>Lead Designer</p>
                                <p>Ot vero eos et accusam justo duo dolores ea rebum.</p>
                                <p class="team-social">
                                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                    <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                    <a class="socialico-google" href="#" title="LinkedIn">#</a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6"> 
                       <div class="media light_section">
                            <a href="#" class="pull-left">
                                <img src="example/team/02.jpg" alt="" class="media-object">
                            </a>

                            <div class="media-body">
                                <h3>Sarah <strong>Marsh</strong></h3>
                                <p>Lead Designer</p>
                                <p>Stet clita kasd gubergren takimata sanctus est.</p>
                                <p class="team-social">
                                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                    <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                    <a class="socialico-google" href="#" title="LinkedIn">#</a>
                                </p>
                            </div>
                        </div>                        
                    </div>
                </div>
            
                <div class="team row">    
                    <div class="col-sm-6"> 
                       <div class="media light_section">
                            <a href="#" class="pull-left">
                                <img src="example/team/03.jpg" alt="" class="media-object">
                            </a>

                            <div class="media-body">
                                <h3>Michael <strong>Lee</strong></h3>
                                <p>CEO</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <p class="team-social">
                                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                    <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                    <a class="socialico-google" href="#" title="LinkedIn">#</a>
                                </p>
                            </div>
                        </div>                        
                    </div>

                    

                    <div class="col-sm-6"> 
                        <div class="media light_section">
                            <a href="#" class="pull-left">
                                <img src="example/team/04.jpg" alt="" class="media-object">
                            </a>

                            <div class="media-body">
                                <h3>Selena <strong>Stefan</strong></h3>
                                <p>Photographer</p>
                                <p>Libero nobis eum aspernatur saepe itaque incidunt sed.</p>
                                <p class="team-social">
                                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                    <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                    <a class="socialico-google" href="#" title="LinkedIn">#</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team row">
                    <div class="col-sm-6"> 
                        <div class="media light_section">
                            <a href="#" class="pull-left">
                                <img src="example/team/06.jpg" alt="" class="media-object">
                            </a>

                            <div class="media-body">
                                <h3>Sarah <strong>Marsh</strong></h3>
                                <p>Lead Designer</p>
                                <p>Stet clita kasd gubergren takimata sanctus est.</p>
                                <p class="team-social">
                                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                    <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                    <a class="socialico-google" href="#" title="LinkedIn">#</a>
                                </p>
                            </div>
                        </div>                              
                    </div>

                    <div class="col-sm-6"> 
                       <div class="media light_section">
                            <a href="#" class="pull-left">
                                <img src="example/team/05.jpg" alt="" class="media-object">
                            </a>

                            <div class="media-body">
                                <h3>Jat <strong>Anderson</strong></h3>
                                <p>Lead Designer</p>
                                <p>Ot vero eos et accusam justo duo dolores ea rebum.</p>
                                <p class="team-social">
                                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                    <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                    <a class="socialico-google" href="#" title="LinkedIn">#</a>
                                </p>
                            </div>
                        </div>                             
                    </div>


                </div>

                <div class="team row">

                    <div class="col-sm-6"> 
                       <div class="media light_section">
                            <a href="#" class="pull-left">
                                <img src="example/team/08.jpg" alt="" class="media-object">
                            </a>

                            <div class="media-body">
                                <h3>Janet <strong>Jones</strong></h3>
                                <p>CEO</p>
                                <p>Libero nobis eum aspernatur saepe itaque incidunt sed.</p>
                                <p class="team-social">
                                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                    <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                    <a class="socialico-google" href="#" title="LinkedIn">#</a>
                                </p>
                            </div>
                        </div>                             
                    </div>      

                    <div class="col-sm-6"> 
                       <div class="media light_section">
                            <a href="#" class="pull-left">
                                <img src="example/team/07.jpg" alt="" class="media-object">
                            </a>

                            <div class="media-body">
                                <h3>Michael <strong>Lee</strong></h3>
                                <p>Photographer</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <p class="team-social">
                                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                    <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                    <a class="socialico-google" href="#" title="LinkedIn">#</a>
                                </p>
                            </div>
                        </div>                                 
                    </div>

                </div>

        </div>        
    </section>



    <section id="tweets" class="color_section bg_image">
        <div class="container">
            <div class="row text-center">
                <div class="twitter"></div>
            </div>
        </div>
    </section>


    <footer th:replace="~{/commons/footer :: footer}"></footer>
 

<section th:replace="~{/commons/copyright :: copyright}"></section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <div th:replace="~{/commons/script :: script}"></div>


    </body>
</html>

