<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Team Member')}"></div>

<section class="grey_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Member <strong>Page</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="member media light_section">
                    <div class="pull-left">
                        <img src="example/team/team_member.jpg" alt="image01" class="media-object">
                    </div>
                    <div class="media-body">
                        <div class="member-description">
                            <h3>Jat <strong>Anderson</strong></h3>
                            <p>Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit amet.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, voluptates, nemo,
                                quaerat culpa sunt <strong>quibusdam</strong> vitae doloremque molestias voluptatum id
                                mollitia quas aliquid eum eius reiciendis aut illo repellendus ipsa.</p>
                            <p>Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit amet.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, voluptates, nemo,
                                quaerat culpa sunt <a href="#">quibusdam</a> vitae doloremque molestias voluptatum id
                                mollitia quas aliquid eum eius reiciendis aut illo repellendus ipsa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Colleague <strong>Members</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">


                <div class="owl-carousel owl-items-4 team">
                    <div class="owl-carousel-item">
                        <div class="thumbnail">
                            <a href="/team-single">
                                <img src="example/team/01.jpg" alt="team">
                            </a>
                            <div class="caption">
                                <h4>Jat <strong>Anderson</strong></h4>
                                <p>Lead Designer</p>

                            </div>
                            <p class="team-social">
                                <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                <a class="socialico-dribble" href="#" title="LinkedIn">#</a>
                            </p>
                        </div>
                    </div>

                    <div class="owl-carousel-item">
                        <div class="thumbnail">
                            <a href="/team-single">
                                <img src="example/team/02.jpg" alt="team">
                            </a>
                            <div class="caption">
                                <h4>Sarah <strong>Marsh</strong></h4>
                                <p>Lead Designer</p>

                            </div>
                            <p class="team-social">
                                <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                <a class="socialico-flickr" href="#" title="Twitter">#</a>
                                <a class="socialico-linkedin" href="#" title="LinkedIn">#</a>
                            </p>
                        </div>
                    </div>

                    <div class="owl-carousel-item">
                        <div class="thumbnail">
                            <a href="/team-single">
                                <img src="example/team/03.jpg" alt="team">
                            </a>
                            <div class="caption">
                                <h4>Michael <strong>Lee</strong></h4>
                                <p>CEO</p>

                            </div>
                            <p class="team-social">
                                <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                <a class="socialico-google" href="#" title="LinkedIn">#</a>
                            </p>
                        </div>
                    </div>

                    <div class="owl-carousel-item">
                        <div class="thumbnail">
                            <a href="/team-single">
                                <img src="example/team/04.jpg" alt="team">
                            </a>
                            <div class="caption">
                                <h4>Selena <strong>Stefan</strong></h4>
                                <p>Photographer</p>

                            </div>
                            <p class="team-social">
                                <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                <a class="socialico-linkedin" href="#" title="LinkedIn">#</a>
                            </p>
                        </div>
                    </div>


                    <div class="owl-carousel-item">
                        <div class="thumbnail">
                            <a href="/team-single">
                                <img src="example/team/05.jpg" alt="team">
                            </a>
                            <div class="caption">
                                <h4>Adam <strong>Fox</strong></h4>
                                <p>Photographer</p>

                            </div>
                            <p class="team-social">
                                <a class="socialico-twitter" href="#" title="Twitter">#</a>
                                <a class="socialico-facebook" href="#" title="Facebook">#</a>
                                <a class="socialico-linkedin" href="#" title="LinkedIn">#</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- eof owl-carousel -->


            </div>
        </div>
    </div>
</section>

<section id="quotes" class="color_section bg_image">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div id="carousel-testimonials" class="carousel dxcarousel slide widget_testimonials block">
                    <a class="carousel-control left" href="#carousel-testimonials" data-slide="prev"></a>
                    <a class="carousel-control right" href="#carousel-testimonials" data-slide="next"></a>
                    <div class="carousel-inner">
                        <div class="item active">
                            <p class="carousel-introtext">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, eum adipisci
                                asperiores animi eos sint modi amet omnis fugiat cum.
                            </p>
                            <p class="carousel-readmore">
                                John Doe
                            </p>
                        </div>
                        <div class="item">
                            <p class="carousel-introtext">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, eum adipisci
                                asperiores animi eos sint modi amet omnis fugiat cum.
                            </p>
                            <p class="carousel-readmore">
                                Catrin Jhonson
                            </p>
                        </div>
                        <div class="item">
                            <p class="carousel-introtext">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, eum adipisci
                                asperiores animi eos sint modi amet omnis fugiat cum.
                            </p>
                            <p class="carousel-readmore">
                                Nataly Smith
                            </p>
                        </div>
                        <div class="item">
                            <p class="carousel-introtext">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, eum adipisci
                                asperiores animi eos sint modi amet omnis fugiat cum.
                            </p>
                            <p class="carousel-readmore">
                                Antony Gore
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
