<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Training</title>
</head>
<body>
<h1>Edit Training</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/training}" th:object="${entity}" method="post">

    <p>
        <label for="title">title:</label>
            <input type="text" th:field="*{title}" id="title" required>
        </p>
    <p>
        <label for="description">description:</label>
            <input type="text" th:field="*{description}" id="description" required>
        </p>
    <p>
        <label for="startDate">startDate:</label>
            <input type="text" th:field="*{startDate}" id="startDate" required>
        </p>
    <p>
        <label for="endDate">endDate:</label>
            <input type="text" th:field="*{endDate}" id="endDate" required>
        </p>
    <p>
        <label for="result">result:</label>
            <input type="text" th:field="*{result}" id="result" required>
        </p>
    <p>
        <label for="employee">employee:</label>
            <input type="text" th:field="*{employee}" id="employee" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/training}">Cancel</a>
    </p>
</form>

</body>
</html>
