<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Edit vacation')}"></div>
<h1>Edit Vacation</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/vacation}" th:object="${entity}" method="post">

    <p>
        <label for="type">type:</label>
            <input type="text" th:field="*{type}" id="type" required>
        </p>
    <p>
        <label for="startDate">startDate:</label>
            <input type="text" th:field="*{startDate}" id="startDate" required>
        </p>
    <p>
        <label for="endDate">endDate:</label>
            <input type="text" th:field="*{endDate}" id="endDate" required>
        </p>
    <p>
        <label for="duration">duration:</label>
            <input type="text" th:field="*{duration}" id="duration" required>
        </p>
    <p>
        <label for="status">status:</label>
            <input type="text" th:field="*{status}" id="status" required>
        </p>
    <p>
        <label for="employee">employee:</label>
            <input type="text" th:field="*{employee}" id="employee" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/vacation}">Cancel</a>
    </p>
</form>



<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
