<!DOCTYPE html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<header th:replace="~{/commons/header :: header}"></header>
<div th:replace="~{/commons/abovecontent :: abovecontent('Vacations')}"></div>

<section id="middle" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>List of <strong>Vacations</strong></h1>
                <h3 th:if="${message != null}" th:text="${message}"></h3>
                <a class="btn btn-primary" th:href="@{/vacation/edit}">Create new Vacation</a>

                <table class="table ">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Employee</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entity : ${list}">
                        <td th:text=${entity.type}></td>
                        <td th:text=${entity.startDate}></td>
                        <td th:text=${entity.endDate}></td>
                        <td th:text=${entity.employee}></td>
                        <td>
                            <a class="btn btn-info" th:href="@{/vacation/{id}(id=${entity.id})}">See detail</a>
                            <a class="btn btn-primary" th:href="@{/vacation/edit/{id}(id=${entity.id})}">Edit</a>
                            <form th:if="${entity.id!=null}" method="get" th:action="'/vacation/' +${entity.id}+'/delete'">
                                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<footer th:replace="~{/commons/footer :: footer}"></footer>
<section th:replace="~{/commons/copyright :: copyright}"></section>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
